<!--

<header>
 <nav class="navbar navbar-expand-sm border-bottom">
   <div class="container">
     <button
       class="navbar-toggler ms-auto"
       type="button"
       data-bs-toggle="collapse"
       data-bs-target="#navbar-collapse"
       aria-controls="navbar"
       aria-expanded="false"
       aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbar-collapse">
       <div class="nav-item me-1">
         < TODO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
          <!-- nav branch commit 
            <a class="nav-link">
                Logout
            </a>
       </div>
     </div>
   </div>
 </nav>
</header>
-->


<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="../pages/home.hbs">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../pages/login.hbs">Login</a>
        </li>

        <!-- Study sets once implemented
        <li class="nav-item">
            <a class="nav-link" href="../pages/........">Study Sets</a>
        </li>
        -->
        
        <li class="nav-item">
            <a class="nav-link" href="../pages/logout.hbs">Log out</a>
        </li>
        
      </ul>
    </div>

    <!--
    <div class="navbar-collapse collapse order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">
              <! TODO: Add the email id which is passed using: {{ variable_name }}. This will display the email id on the top right corner of the page 
                {{ email }}
              </a>
          </li>
      </ul>
    </div>
    -->
  </nav>
</header>