/* Dark mode styles */
body.dark-mode {
  background-color: #222122;
  color: #FFFFFF;
}

.dark-mode .navbar {
  background-color: #2B2B2B;
}

.dark-mode .nav-link {
  color: #FFFFFF;
}

.dark-mode .btn {
  background-color: #C34C23;
  color: #FFFFFF;
  border-color: #C34C23;
}

.dark-mode .btn:hover {
  background-color: #650A53;
  border-color: #650A53;
}

.dark-mode .app {
  background-color: #2B2B2B;
}

.dark-mode .quiz h2 {
  color: #FFFFFF;
}

.dark-mode .card {
  background-color: #EBEBEB;
  color: #000000;
}

.dark-mode .btn-success,
.dark-mode .btn-info,
.dark-mode .btn-danger {
  background-color: inherit;
  color: inherit;
  border-color: inherit;
}

.dark-mode .btn-success:hover,
.dark-mode .btn-info:hover,
.dark-mode .btn-danger:hover {
  background-color: inherit;
  border-color: inherit;
}

.dark-mode .pagination-container {
  background-color: #2B2B2B;
}

.dark-mode .container,
.dark-mode #terms-container {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

.dark-mode .navbar {
  background-color: #2B2B2B;
}

.dark-mode .navbar .nav-link {
  color: #FFFFFF;
}

.dark-mode footer {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

/* Light mode styles */
body:not(.dark-mode) {
  background-color: #FFFFFF;
  color: #000000;
}

body:not(.dark-mode) .navbar {
  background-color: #EBEBEB;
}

body:not(.dark-mode) .nav-link {
  color: #000000;
}

body:not(.dark-mode) .btn {
  background-color: #772953;
  color: #FFFFFF;
  border-color: #772953;
}

body:not(.dark-mode) .btn:hover {
  background-color: #E95420;
  border-color: #E95420;
}

body:not(.dark-mode) .app {
  background-color: #EBEBEB;
}

body:not(.dark-mode) .quiz h2 {
  color: #000000;
}

body:not(.dark-mode) .card {
  background-color: #EBEBEB;
  color: #000000;
}

body:not(.dark-mode) .btn-success,
body:not(.dark-mode) .btn-info,
body:not(.dark-mode) .btn-danger {
  background-color: inherit;
  color: inherit;
  border-color: inherit;
}

body:not(.dark-mode) .btn-success:hover,
body:not(.dark-mode) .btn-info:hover,
body:not(.dark-mode) .btn-danger:hover {
  background-color: inherit;
  border-color: inherit;
}

body:not(.dark-mode) .pagination-container {
  background-color: #EBEBEB;
}

body:not(.dark-mode) .container,
body:not(.dark-mode) #terms-container {
  background-color: #EBEBEB;
  color: #000000;
}

body:not(.dark-mode) .navbar {
  background-color: #EBEBEB;
}

body:not(.dark-mode) .navbar .nav-link {
  color: #000000;
}

body:not(.dark-mode) footer {
  background-color: #EBEBEB;
  color: #000000;
}
