<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnMaster</title>
</head>
<body>

<!-- Button to create a new study set -->
<a href="/create">Create New Study Set</a>

<!-- Check if studySets array exists and has length -->
{{#if studySets.length}}
  <!-- List of study set titles -->
  <ul>
    {{#each studySets}}
    <!--
      {{#if this.title}}
        <li>{{this.title}}</li>
      {{/if}}
      -->
    <li>{{this.title}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No study sets created yet.</p>
{{/if}}


</body>
</html>
