
<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Add any necessary meta tags, stylesheets, or scripts here -->
</head>
<body>
   <h1>Welcome to Our Website</h1>
   <!-- Add other content of your home page here -->
  
   <!-- Add the button to navigate to the create page -->
   <a href="/create" class="btn">Create Terms and Definitions</a>
</body>
</html>


