<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnMaster</title>
</head>
<body>

<!-- Button to create a new study set -->
<a href="/create-study-set">Create New Study Set</a>

<!-- Check if studySets array exists and has length -->
{{#if studySets}}
  <!-- List of study sets -->
  <ul>
    {{#each studySets}}
      <li>{{this.title}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No study sets created yet.</p>
{{/if}}

</body>
</html>
