<!DOCTYPE html>
<html>
<head>
    <title>Study</title>
    <link href="/css/study.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Study Notecards</h1>
        <div class="notecard">
            <div class="notecard-inner">
                <div class="notecard-front">
                    <p id="term">Term</p>
                </div>
                <div class="notecard-back">
                    <p id="definition">Definition</p>
                </div>
            </div>
        </div>
        <button id="next-btn">Next</button>
    </div>
    <script src="/js/study.js"></script>
</body>
</html>
